<div>
  <input type="text" [(ngModel)]="apiKey" placeholder="Введите ваш API токен NASA">
  <button (click)="submitApiKey()">Отправить</button>
</div>
<nav>
  <ul>
    <li><a routerLink="/apod" routerLinkActive="active">APOD</a></li>
    <li><a routerLink="/asteroids" routerLinkActive="active">Asteroids</a></li>
    <li><a routerLink="/earth" routerLinkActive="active">Earth</a></li>
    <li><a routerLink="/mars" routerLinkActive="active">Mars</a></li>
    <li><a routerLink="/epic" routerLinkActive="active">EPIC</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
